<section>
  <h1 class="text-score-pointes text-center">Choose one of the games below</h1>

  <article class="flex flex-col justify-center items-center gap-4 mt-4">
    <button
      class="border border-white rounded-lg py-[11px] px-[37px] text-btn bg-transparent transition-colors duration-150 hover:bg-white hover:text-[#3b4262]"
      routerLink="/rock-paper-scissors">Rock Paper Scissors</button>
    <button
      class="border border-white rounded-lg py-[11px] px-[37px] text-btn bg-transparent transition-colors duration-150 hover:bg-white hover:text-[#3b4262]"
      routerLink="/lizard-spock">Rock Paper Scissors Lizard Spock</button>

  </article>
</section>